body {
    font-family: "HelveticaNeue", "Arial", sans-serif;
    background-color: black;
  }
  
  h1 {
    font-size: 35px;
    margin: 0px;
    color: pink;
    text-align: center;
  }
  h2{
    color: white;
    font-size: 15px;
    text-align: center;
  }
  h3{
    color: white;
    font-size: 10px;
    text-align: center;
  }
  p {
    margin: 0px;
    font-size: 1em;
    color: white;
  }
